@font-face {
    font-family: Source Sans Pro;
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Black.otf);
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Bold.otf);
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Light.otf);
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Regular.otf);
    src: url(./assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: Spin Cycle;
    src: url(./assets/fonts/Spin-Cycle-OT/spincycle_3d_ot.otf);
}

/***  General  ***/

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
/***  General  ***/

/***  Hero Section  ***/
#hero-section{
    background-image: url(./assets/headphones_hero_1.jpg);
    background-size: cover;
    height: inherit;
    width: inherit;
    padding-bottom: 5%;
}
header{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    align-items: center;
    /* height: inherit; */
    color: white;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 5%;
    /* margin: 5%; */
    /* padding: 3% 15% 10% 7%; */

    
}
.logo{
    width: 70%;
}
.logo img{
    height: 40px;
}
.hamburger-lines{
    
}
.lines{
    display: block;
    width: 25px;
    height: 3px;
    margin: 0 5px;
    background-color: #FF6565;
    transform: all 0.3s ease;
}

a:hover{
    color:#ff6565
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* width: 25vw; */
    font-size: 14px;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* nav a{
    margin: 0 10px;
} */
.hero-content-center{
    text-align: center;
}
#hero-content{
    text-align: center;
}
.text-fit{
    margin: 7% 15% 5% 15%; 
    padding: 0 12%;
}
.margin {
    margin: 5% 15%;
}
.call-to-action{
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 22px;
    border: 1px solid #ff6565;
    background: #FF6565;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
}
.call-to-action:hover{
    opacity: 0.9                  ;
}
.white{
    color: #fff;
}
.dark{
    color: #071629;
}
.text-small{
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    font-weight: 400;
}

.text-big{
    text-align: center;
    font-family: SourceSansPro;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
    font-weight: 700;
}

@media(max-width:768px){
    
}

@media(max-width:450px){
    .logo{
        position: absolute;
        left: 30%;
        /* width: 70%; */
    }
    .logo img{
        height: 40px;
    }
    nav{
        display: none;
    }
}